<!DOCTYPE html>
<html>
<head>
	<title>QwizKid! An online quizzing platform.</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/common.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/landingpage.css">
</head>
<body>
	<div id="bg_topbar"></div>
	<div id="headers" class="transition-children no-select">
		<h1>QwizKid</h1>
		<h2>Quiz Portal for Wiz Kids.<br> And matures.</h2>

		<div id="button_container">
			<a href="/login">Login</a>
			<a href="/signup">Signup</a>
		</div>
	</div>

	<div id="forms" class="transition-children">
		<form id="loginform" method="POST" action="./login">
			<div class="topbar">Login</div>

			<div class="fieldset">
				<label for="username">Username</label>
				<input name="username" id="username">
			</div>

			<div class="fieldset">
				<label for="password">Password</label>
				<input type="password" name="password" id="password">
			</div>

			<div class="fieldset">
				<label></label>
				<input type="submit" value="Login" name="submit">
			</div>

			<div class="fieldset">
				<label></label>
				<span class="error">{{ loginerrors.message }}</span>
			</div>
		</form>

		<form id="signupform" method="POST" action="./signup">
			<div class="topbar">Signup</div>

			<div class="fieldset">
				<label for="username">Username</label>
				<input name="username" id="username">
				<span class="error">{{ signuperrors.username }}</span>
			</div>

			<div class="fieldset">
				<label for="password">Password</label>
				<input type="password" name="password" id="password">
				<span class="error">{{ signuperrors.password }}</span>
			</div>

			<div class="fieldset">
				<label for="cnfmpassword">Confirm Password</label>
				<input type="password" name="cnfmpassword" id="cnfmpassword">
				<span class="error">{{ signuperrors.cnfmpassword }}</span>
			</div>

			<div class="fieldset">
				<label for="name">Name</label>
				<input name="name" id="name">
				<span class="error">{{ signuperrors.name }}</span>
			</div>

			<div class="fieldset">
				<label for="email">Email</label>
				<input type="email" name="email" id="email">
				<span class="error">{{ signuperrors.email }}</span>
			</div>

			
			<div class="fieldset">
				<label for="emailpublic">Email visibility</label>
				<div class="together">
					<input type="radio" name="emailpublic" checked value="true"><span>Public</span>
					<input type="radio" name="emailpublic" value="false"><span>No one</span>
				</div>
				<span class="error">{{ signuperrors.emailpublic }}</span>
			</div> 

			<!--
			<div class="fieldset">
				<label for="college">College</label>
				<input name="college" id="college">
				<span class="error">{{ signuperrors.college }}</span>
			</div>

			<div class="fieldset">
				<label for="state">State</label>
				<input name="state" id="state">
				<span class="error">{{ signuperrors.state }}</span>
			</div>

			<div class="fieldset">
				<label for="country">Country</label>
				<input name="country" id="country">
				<span class="error">{{ signuperrors.country }}</span>
			</div>
			-->

			<div class="fieldset">
				<label></label>
				<input type="submit" value="Signup" name="submit">
			</div>
		</form>
	</div>
</body>
</html>