<!DOCTYPE html>
<html>
<head>
	<title>Qwiz-Kid! An online quizzing platform.</title>
</head>
<body>
	Welcome to Qwiz-Kid

	<div id="forms">
		<form method="POST" action="./login">
			<div id="login_topbar">Login</div>

			<label for="username">Username</label>
			<input name="username" id="username">
			<br>

			<label for="password">Password</label>
			<input type="password" name="password" id="password">
			<br>

			<input type="submit" value="Login" name="submit">
			<span class="error">{{ loginerrors.message }}</span>
		</form>

		<form method="POST" action="./signup">
			<div id="login_topbar">Signup</div>

			<label for="username">Username</label>
			<input name="username" id="username">
			<span class="error">{{ signuperrors.username }}</span>
			<br>

			<label for="password">Password</label>
			<input type="password" name="password" id="password">
			<span class="error">{{ signuperrors.password }}</span>
			<br>

			<label for="cnfmpassword">Confirm Password</label>
			<input type="password" name="cnfmpassword" id="cnfmpassword">
			<span class="error">{{ signuperrors.cnfmpassword }}</span>
			<br>

			<label for="name">Name</label>
			<input name="name" id="name">
			<span class="error">{{ signuperrors.name }}</span>
			<br>

			<label for="email">Email</label>
			<input type="email" name="email" id="email">
			<span class="error">{{ signuperrors.email }}</span>
			<br>

			<label for="emailpublic">Email visibility</label>
			<input type="radio" name="emailpublic" checked value="true">Public</input>
			<input type="radio" name="emailpublic" value="false">No one</input>
			<span class="error">{{ signuperrors.emailpublic }}</span>
			<br>

			<label for="college">College</label>
			<input name="college" id="college">
			<span class="error">{{ signuperrors.college }}</span>
			<br>

			<label for="state">State</label>
			<input name="state" id="state">
			<span class="error">{{ signuperrors.state }}</span>
			<br>

			<label for="country">Country</label>
			<input name="country" id="country">
			<span class="error">{{ signuperrors.country }}</span>
			<br>

			<input type="submit" value="Signup" name="submit">
		</form>
	</div>
</body>
</html>