<div class="pane">
	<div id="question-wrapper">
		<label>Question</label>
		<div id="question">
			<p>{{question}}</p>
		</div>
	</div>

	<div id="options-wrapper">
		<div class="option-wrapper">
			<label for="option1">A</label>
			<input type="button" id="option1" name="option1" value="{{ option1 }}">
		</div>

		<div class="option-wrapper">
			<label for="option1">B</label>
			<input type="button" id="option2" name="option2" value="{{ option2 }}">
		</div>

		<div class="option-wrapper">
			<label for="option1">C</label>
			<input type="button" id="option3" name="option3" value="{{ option3 }}">
		</div>

		<div class="option-wrapper">
			<label for="option1">D</label>
			<input type="button" id="option4" name="option4" value="{{ option4 }}">
		</div>
	</div>
</div>

<div class="pane">
	<div id="explanation-wrapper">
		<label>Explanation</label>
		<div id="explanation">
			<p>{{explanation}}</p>
		</div>
	</div>

	<div id="categories-wrapper">
		<label>Categories</label>
		<div id="categories">{{categories}}</div>
	</div>
</div>
</div>